body {
  font-family: sans-serif;
  font-size: 1em; }
  body p {
    margin-bottom: 0; }

header {
  margin-top: 30px; }
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .container .heading h1 {
      font-size: 35px;
      font-style: italic;
      font-weight: 900;
      color: #06519d;
      margin: 0; }
    header .container .note {
      width: 335px; }
      header .container .note p {
        color: #06519d;
        font-size: 1em;
        font-weight: 900;
        font-style: italic;
        text-transform: uppercase; }
    header .container .logo img {
      width: 100px; }

section {
  margin-top: 20px; }
  section .section-header {
    margin-bottom: 10px; }
    section .section-header .heading {
      position: relative;
      font-size: 20px;
      font-weight: 900;
      font-style: italic;
      color: #06519d; }
  section .form-wrapper {
    padding: 10px 20px;
    border: 1px solid rgba(6, 81, 157, 0.3); }
    section .form-wrapper label {
      text-transform: capitalize; }
